name: Docker Build Image And push 

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push cpu
        working-directory: ./
        run: |
          IMAGE_NAME=lianshufeng/deepface:latest
          docker build -f Dockerfile -t $IMAGE_NAME .
          docker push $IMAGE_NAME
      
      - name: Build and push gpu
        working-directory: ./
        run: |
          IMAGE_NAME=lianshufeng/deepface:gpu
          docker build -f Dockerfile-gpu -t $IMAGE_NAME .
          docker push $IMAGE_NAME
